#root {
  height: 100vh;
  width: 100vw;
  background-color: LightCoral;
  display: flex;
  align-items: center;
  justify-content: center;
}

#drum-machine {
  background-color: #FFAAAA;
  border: 3px solid white;
  border-radius: 3px;
  padding: 20px;
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  #drum-machine {
    flex-direction: column;
  }
}
